
.e1,.e2,.e3,.button{
    text-align: center;
}


.e2,.e3,.button{
    max-width: 95%;
}

.intro{
    align-items: center;
    gap:20px;
    flex-direction: column;
}
.about-us{
    max-width: 95%;
}

.find{
    display:flex;
    flex-direction: column;
    gap:12px;
    border-radius:5%;
    color: #64748B;
    align-items: center;
    padding: 5px;
    /* max-width: 100%; */

}


.find:hover{
    box-shadow: 0% 1% 2% 0% #0000001A;
}
.find .button:focus{
    outline:none;

}

.e1{
font-size: 12px;
font-weight: 400;
color:#8993A4;
}

.e2{
font-size: 28px;
font-weight: 700;
color:black;

}

.e3{

font-size: 16px;
font-weight: 400;
color:black;
}
