
.e1,.e2,.e3,.button{
    text-align: left;
    /* display: block; */
}

.intro{
    align-items: center;
    gap:20px;
}
.about-us{
max-width: 50%;}
.find{
    display:flex;
    flex-direction: column;
    gap:12px;
    border-radius:5%;
    color: #64748B;
    padding: 5px;

}

.find:hover{
    box-shadow: 0% 1% 2% 0% #0000001A;
}
.find .button:focus{
    outline:none;

}
@media(max-width:900px){
    .intro{
        flex-direction: column;
        justify-content: center;
        gap:20px;
    }
    .about-us,.find{
        min-width: 100%;
    }

}
.e1{
font-size: 12px;
font-weight: 400;
color:#8993A4;
}

.e2{
font-size: 28px;
font-weight: 700;
color:black;

}

.e3{

font-size: 16px;
font-weight: 400;
color:black;
}

/* .button{
    
} */